@import url('./style.properties.css');

/* MAIN */
body {
    box-sizing: content-box;
    font-size: 1rem;
    background-color: var(--blue-theme-transparent);
}

/* HEADER COMPONENT */
.article-header {
    display: flex;
    align-items: center;
    background-color: var(--blue-theme);
    gap: 3rem;
    color: var(--white);
    border: 3px solid transparent;
    text-align: start;
}

/* HOME COMPONENT */
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding: 5rem 0;
    justify-content: start;
}

.form-content {
    color: var(--blue-theme);
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

input[type="text"] {
    height: 3rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px var(--blue-theme) solid;
    outline-color: transparent;
    background: transparent;
}

input[type="text"]:focus {
    border-bottom: 1px var(--blue-theme-darker) solid;
    background: transparent;
    outline: transparent;
}

button {
    background-color: var(--blue-theme);
    color: var(--white);
    border: none;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: var(--blue-theme-darker) 2px 5px;
}

/* WEATHER COMPONENT */
.weather-content {
    width: 70%; /* Maximum width of 70% */
    max-width: 600px; /* Optional: Set a max-width limit */
    height: fit-content;
    padding: 1rem;
    border-radius: 2rem;
    color: var(--white);
    background: var(--blue-theme);
    border: 1px solid var(--blue-theme-transparent);
    margin: 0 auto; /* Center the element horizontally */
}

.weather-content ul {
    list-style-type: none;
    color: var(--white);
    display: flex;
    gap: 3rem;
    flex-direction: row;
}

.weather-content span {
    font-size: 1rem;
    height: 5rem;
    align-items: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weather-content:hover {
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .weather-content {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .weather-content {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .weather-content {
        width: 70%;
    }

    .weather-content ul {
        flex-direction: column;
        gap: 1rem;
    }

    .weather-content span {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .weather-content {
        width: 70%;
    }

    .weather-content ul {
        flex-direction: column;
        gap: 1rem;
    }

    .weather-content span {
        font-size: 1.5rem;
    }
}

/* Responsive header */
@media (max-width: 1200px) {
    .article-header {
        flex-direction: column;
        gap: 1rem;
    }
}

/* Responsive form */
@media (max-width: 768px) {
    .form-content {
        width: 80%;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .form-content {
        width: 90%;
    }
}
